.container {
  display: grid;
  width:100%;
  height:100%;
  grid-template-areas:
    "cert cert"
    "cert cert"
    "cert cert";
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr); 
  box-sizing: border-box;
  column-gap: 2em;
  row-gap: 2em;
}

.box {
  background-color: var(--bg-color-one); 
  padding: 2em;
}

.certification { grid-area: certification; }

img {
  padding-top:10%;
  width:90%;
  height:90%;
} 
